html,
body {margin: 0; padding: 0; font-family: -apple-system, sans-serif; display: flex; flex-direction: column; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; background-color: #c4e2dd;}

.body-container {margin-top: 10%; margin-bottom: 10%;}

input, input:focus {border: 2px solid #2d8280; border-radius: 12pt; padding: 8pt; width: 95%; height: 60px; font-size: 15pt; font-weight: bold; opacity: 0.9; outline: none; text-align: center; margin-left: 2%; margin-right: 2%;}

#btn {border: 2px solid #2d8280; border-radius: 10pt; padding-top: 8pt; margin-left: 27%; width: 45%; height: 55px; font-size: 15pt; font-weight: bold; opacity: 0.9;}

.header {position: fixed; top: 0; width: 100%; height: 40pt; display: inline-box; padding-left: 26%; overflow: hidden; border-bottom: 0.5pt solid #d4d8db; background-color: #2d8280; color: white; display: flex; align-items: center; text-align: center; box-shadow: 0pt 2pt 4pt 1pt rgba(0, 0, 0, 0.1); z-index: 1; font-size: 15pt;}

.divInput {margin: 5%;}

.divAttributes {background-color: white; color: #32485f; font-size: 13.5pt; margin: 16px; margin-top: 8px; margin-bottom: 8px; box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.12); border-radius: 4px;}

.picking {color: #32485f; font-size: 12pt; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;}

.employeeHeader {padding: 12px; font-size: 12px; font-weight: 500; color: #6f7e8f;}

.allHeaders {padding: 14px; padding-bottom: 0pt;}

.allDetails {padding: 14px; padding-top: 5pt;}

.inputItem{margin:5%;}

.inputItem input, .inputItem textarea{border-color:rgb;}
.question-title{display:none;}